<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.queue.mapper.ExchangeRateMapper">
  <resultMap id="BaseResultMap" type="com.queue.entity.ExchangeRate">
    <result column="EXC_ID" jdbcType="BIGINT" property="excId" />
    <result column="CONVERT_FRONT_NAME" jdbcType="VARCHAR" property="convertFrontName" />
    <result column="CONVERT_FRONT_NUM" jdbcType="DOUBLE" property="convertFrontNum" />
    <result column="CONVERT_LATER_NAME" jdbcType="VARCHAR" property="convertLaterName" />
    <result column="CONVERT_LATER_NUM" jdbcType="DOUBLE" property="convertLaterNum" />
    <result column="SEARCH_TYPE" jdbcType="VARCHAR" property="searchType" />
    <result column="FRAUD_FRONT_NAME" jdbcType="VARCHAR" property="fraudFrontName" />
    <result column="FRAUD_FRONT_NUM" jdbcType="DOUBLE" property="fraudFrontNum" />
    <result column="FRAUD_LATER_NAME" jdbcType="VARCHAR" property="fraudLaterName" />
    <result column="FRAUD_LATER_NUM" jdbcType="DOUBLE" property="fraudLaterNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.queue.entity.ExchangeRate">
    insert into exchange_rate (EXC_ID, CONVERT_FRONT_NAME, CONVERT_FRONT_NUM, 
      CONVERT_LATER_NAME, CONVERT_LATER_NUM, SEARCH_TYPE, 
      FRAUD_FRONT_NAME, FRAUD_FRONT_NUM, FRAUD_LATER_NAME, 
      FRAUD_LATER_NUM, CREATE_TIME)
    values (#{excId,jdbcType=BIGINT}, #{convertFrontName,jdbcType=VARCHAR}, #{convertFrontNum,jdbcType=DOUBLE}, 
      #{convertLaterName,jdbcType=VARCHAR}, #{convertLaterNum,jdbcType=DOUBLE}, #{searchType,jdbcType=VARCHAR}, 
      #{fraudFrontName,jdbcType=VARCHAR}, #{fraudFrontNum,jdbcType=DOUBLE}, #{fraudLaterName,jdbcType=VARCHAR}, 
      #{fraudLaterNum,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.queue.entity.ExchangeRate">
    insert into exchange_rate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="excId != null">
        EXC_ID,
      </if>
      <if test="convertFrontName != null">
        CONVERT_FRONT_NAME,
      </if>
      <if test="convertFrontNum != null">
        CONVERT_FRONT_NUM,
      </if>
      <if test="convertLaterName != null">
        CONVERT_LATER_NAME,
      </if>
      <if test="convertLaterNum != null">
        CONVERT_LATER_NUM,
      </if>
      <if test="searchType != null">
        SEARCH_TYPE,
      </if>
      <if test="fraudFrontName != null">
        FRAUD_FRONT_NAME,
      </if>
      <if test="fraudFrontNum != null">
        FRAUD_FRONT_NUM,
      </if>
      <if test="fraudLaterName != null">
        FRAUD_LATER_NAME,
      </if>
      <if test="fraudLaterNum != null">
        FRAUD_LATER_NUM,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="excId != null">
        #{excId,jdbcType=BIGINT},
      </if>
      <if test="convertFrontName != null">
        #{convertFrontName,jdbcType=VARCHAR},
      </if>
      <if test="convertFrontNum != null">
        #{convertFrontNum,jdbcType=DOUBLE},
      </if>
      <if test="convertLaterName != null">
        #{convertLaterName,jdbcType=VARCHAR},
      </if>
      <if test="convertLaterNum != null">
        #{convertLaterNum,jdbcType=DOUBLE},
      </if>
      <if test="searchType != null">
        #{searchType,jdbcType=VARCHAR},
      </if>
      <if test="fraudFrontName != null">
        #{fraudFrontName,jdbcType=VARCHAR},
      </if>
      <if test="fraudFrontNum != null">
        #{fraudFrontNum,jdbcType=DOUBLE},
      </if>
      <if test="fraudLaterName != null">
        #{fraudLaterName,jdbcType=VARCHAR},
      </if>
      <if test="fraudLaterNum != null">
        #{fraudLaterNum,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="searchExchangeByPage">
    SELECT * FROM EXCHANGE_RATE ORDER BY EXC_ID
  </select>
</mapper>