<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.queue.mapper.CurrencyTblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.queue.entity.CurrencyTbl">
        <id column="C_ID" property="cId" />
        <result column="CUR_ID" property="curId" />
        <result column="CUR_NAME" property="curName" />
        <result column="CUR_STATUS" property="curStatus" />
        <result column="DEL_STATUS" property="delStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        C_ID, CUR_ID, CUR_NAME, CUR_STATUS, DEL_STATUS
    </sql>

</mapper>
