<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.queue.mapper.CurrencyTblMapper">

    <resultMap id="BaseResultMap" type="com.queue.entity.CurrencyTbl">
        <result column="C_ID" jdbcType="BIGINT" property="cId" />
        <result column="CUR_ID" jdbcType="VARCHAR" property="curId" />
        <result column="CUR_NAME" jdbcType="VARCHAR" property="curName" />
        <result column="CUR_STATUS" jdbcType="SMALLINT" property="curStatus" />
        <result column="DEL_STATUS" jdbcType="SMALLINT" property="delStatus" />
    </resultMap>

</mapper>