<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--全局扫描，只扫描Controller-->
    <context:component-scan base-package="com.queue" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <!--Controller增强,全局控制器-->
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>

    <!--向spring容器注册：
        AutowiredAnnotationBeanPostProcessor
        CommonAnnotationBeanPostProcessor
        PersistenceAnnotationBeanPostProcessor
        RequiredAnnotationBeanPostProcessor
    -->
    <context:annotation-config />

    <!-- fastjson配置 -->
    <bean id="fastJsonConfig" class="com.alibaba.fastjson.support.config.FastJsonConfig">
        <property name="serializerFeatures">
            <array value-type="com.alibaba.fastjson.serializer.SerializerFeature">
                <value>WriteEnumUsingToString</value>
                <value>WriteNullListAsEmpty</value>
                <value>WriteNullStringAsEmpty</value>
                <value>WriteMapNullValue</value>
                <value>QuoteFieldNames</value>
                <value>DisableCircularReferenceDetect</value>
                <value>WriteDateUseDateFormat</value>
            </array>
        </property>
    </bean>

    <!-- 全局时间转换 -->
    <!--<bean id="timeConverter" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">-->
        <!--<property name="converters">-->
            <!--<set>-->
                <!--<bean class="com.queue.interceptor.ConvertLocalDateTime" />-->
            <!--</set>-->
        <!--</property>-->
    <!--</bean>-->

    <!-- 扩充注解，自动注册RequestMappingHandlerMapping与RequestMappingHandlerAdapter -->
    <!-- Controller配置注解之后 annotation-driven REST 需要进行配置Fastjson的 -->
    <!-- 配置全局日期转换
     <mvc:annotation-driven conversion-service="timeConverter">
     现已更改为InitBinder注解方式
     -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <!-- 顺序不推荐更改 -->
                        <value>text/html;charset=UTF-8</value>
                        <value>text/plain;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                        <value>application/xml;charset=UTF-8</value>
                    </list>
                </property>
                <property name="fastJsonConfig" ref="fastJsonConfig" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>



    <!-- 静态资源处理 -->
    <!--<mvc:resources mapping="/static/**" location="/static/" />-->
    <!--<mvc:resources mapping="/pages/**" location="/pages/" />-->

    <!-- 静态资源处理(已更改为 mvc:resources 方式进行处理) -->
    <mvc:default-servlet-handler />

    <!-- 静态资源处理增强 -->
    <bean id="mvcResourceUrlProvider" class="org.springframework.web.servlet.resource.ResourceUrlProvider" />

    <mvc:interceptors>
        <bean class="com.queue.interceptor.SysStaticInterceptor" />
    </mvc:interceptors>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.InternalResourceView" />
        <property name="suffix" value=".html" />
        <property name="order" value="0" />
    </bean>

</beans>