<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <bean id="springCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="cacheManager" />
        <!-- transactionAware表示是否事务环绕的，如果true，则如果事务回滚，缓存也回滚，默认false。 -->
        <!-- http://jinnianshilongnian.iteye.com/blog/2001040 -->
        <property name="transactionAware" value="true" />
    </bean>

    <!--添加基于注解支持-->
    <cache:annotation-driven cache-manager="springCacheManager"/>

    <!-- 邮件线程池配置 -->
    <bean id="mailService" class="com.queue.mail.service.MailMessageService" scope="singleton" init-method="init">
        <property name="poolSize" value="5"/><!-- 线程池初始大小 -->
        <property name="maxPoolSize" value="10" /><!-- 线程池最大大小 -->
        <property name="keepLiveTime" value="50" /><!-- 链接空闲保持时间 -->
        <property name="unit" value="SECONDS" /><!-- 链接空闲保持时间单位 -->
    </bean>

</beans>