<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.queue.mapper.FileRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.queue.entity.FileRecord">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="relation_code" property="relationCode" />
        <result column="sign" property="sign" />
        <result column="upload_name" property="uploadName" />
        <result column="save_name" property="saveName" />
        <result column="path" property="path" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="user_code" property="userCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, relation_code, sign, upload_name, save_name, path, status, create_time, user_code
    </sql>

</mapper>
