<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.queue.mapper.PermissionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.queue.entity.Permissions">
        <id column="pms_id" property="pmsId" />
        <result column="pms_code" property="pmsCode" />
        <result column="pms_name" property="pmsName" />
        <result column="pms_url" property="pmsUrl" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="reviser" property="reviser" />
        <result column="is_delete" property="isDelete" />
        <result column="describe_inf" property="describeInf" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pms_id, pms_code, pms_name, pms_url, create_time, creator, update_time, reviser, is_delete, describe_inf
    </sql>

</mapper>
