<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.queue.mapper.WeatherCityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.queue.entity.WeatherCity">
        <id column="IDENTITY" property="identity" />
        <result column="CITY_ID" property="cityId" />
        <result column="CITY_NAME" property="cityName" />
        <result column="CITY_STATUS" property="cityStatus" />
        <result column="DEL_STATUS" property="delStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        IDENTITY, CITY_ID, CITY_NAME, CITY_STATUS, DEL_STATUS
    </sql>

</mapper>
